phishme_project/edw_sql_codes/adf_pipeline.json
{
  "name": "PL_PhishMe_Security_CDC",
  "properties": {
    "description": "PhishMe Security CDC pipeline: Lookup watermark → ForEach table → Truncate staging → Copy ADLS→Staging → Stored Proc merge",
    "activities": [

      {
        "name": "LKP_GetWatermark",
        "description": "Retrieve active watermark rows for all 10 PhishMe tables",
        "type": "Lookup",
        "typeProperties": {
          "source": {
            "type": "AzureSqlDWSource",
            "sqlReaderQuery": "SELECT table_name, last_load_date, last_load_status FROM phishme_security.watermark WHERE is_active = 1 ORDER BY table_name"
          },
          "dataset": {
            "referenceName": "DS_Synapse_PhishMe_Watermark",
            "type": "DatasetReference"
          },
          "firstRowOnly": false
        }
      },

      {
        "name": "FE_LoadTables",
        "description": "Parallel iteration over each table: truncate staging, copy from ADLS, run CDC stored proc",
        "type": "ForEach",
        "dependsOn": [
          { "activity": "LKP_GetWatermark", "dependencyConditions": ["Succeeded"] }
        ],
        "typeProperties": {
          "items": {
            "value": "@activity('LKP_GetWatermark').output.value",
            "type": "Expression"
          },
          "isSequential": false,
          "batchCount": 4,
          "activities": [

            {
              "name": "Script_TruncateStaging",
              "description": "Truncate zzSTG table before load to ensure idempotency",
              "type": "Script",
              "typeProperties": {
                "linkedServiceName": {
                  "referenceName": "LS_Synapse_Analytics",
                  "type": "LinkedServiceReference"
                },
                "scripts": [
                  {
                    "type": "NonQuery",
                    "text": {
                      "value": "@concat('TRUNCATE TABLE zzSTG_phishme_security.', item().table_name)",
                      "type": "Expression"
                    }
                  }
                ]
              }
            },

            {
              "name": "Copy_ADLS_To_Staging",
              "description": "Copy source CSV/Parquet from ADLS gen2 into Synapse staging table",
              "type": "Copy",
              "dependsOn": [
                { "activity": "Script_TruncateStaging", "dependencyConditions": ["Succeeded"] }
              ],
              "typeProperties": {
                "source": {
                  "type": "DelimitedTextSource",
                  "storeSettings": {
                    "type": "AzureBlobFSReadSettings",
                    "recursive": false,
                    "wildcardFileName": "*.csv"
                  },
                  "formatSettings": {
                    "type": "DelimitedTextReadSettings",
                    "skipLineCount": 0
                  }
                },
                "sink": {
                  "type": "SqlDWSink",
                  "allowPolyBase": false,
                  "writeBatchSize": 10000,
                  "writeBatchTimeout": "00:30:00"
                },
                "enableStaging": false,
                "enableSkipIncompatibleRow": false,
                "translator": {
                  "type": "TabularTranslator",
                  "typeConversion": true,
                  "typeConversionSettings": {
                    "allowDataTruncation": true,
                    "treatBooleanAsNumber": false
                  }
                }
              },
              "inputs": [
                {
                  "referenceName": "DS_ADLS_PhishMe_CSV",
                  "type": "DatasetReference",
                  "parameters": {
                    "folderPath": {
                      "value": "@concat('raw/phishme_security/', item().table_name)",
                      "type": "Expression"
                    }
                  }
                }
              ],
              "outputs": [
                {
                  "referenceName": "DS_Synapse_Staging",
                  "type": "DatasetReference",
                  "parameters": {
                    "schemaName": "zzSTG_phishme_security",
                    "tableName": {
                      "value": "@item().table_name",
                      "type": "Expression"
                    }
                  }
                }
              ]
            },

            {
              "name": "SP_CDC_Merge",
              "description": "Execute CDC stored proc: tag INSERT/UPDATE/NOCHANGE, DQ check, upsert to target, set watermark SUCCESS/FAILED",
              "type": "SqlServerStoredProcedure",
              "dependsOn": [
                { "activity": "Copy_ADLS_To_Staging", "dependencyConditions": ["Succeeded"] }
              ],
              "typeProperties": {
                "linkedServiceName": {
                  "referenceName": "LS_Synapse_Analytics",
                  "type": "LinkedServiceReference"
                },
                "storedProcedureName": {
                  "value": "@concat('[dbo].[usp_phishme_security_', item().table_name, ']')",
                  "type": "Expression"
                },
                "storedProcedureParameters": {
                  "load_id": {
                    "value": {
                      "value": "@int(formatDateTime(utcnow(), 'yyyyMMddHHmmss'))",
                      "type": "Expression"
                    },
                    "type": "Int32"
                  },
                  "source_path": {
                    "value": {
                      "value": "@concat('raw/phishme_security/', item().table_name)",
                      "type": "Expression"
                    },
                    "type": "String"
                  },
                  "pipeline_run_id": {
                    "value": {
                      "value": "@pipeline().RunId",
                      "type": "Expression"
                    },
                    "type": "String"
                  }
                }
              }
            }

          ]
        }
      }

    ],
    "parameters": {
      "load_date": {
        "type": "String",
        "defaultValue": "@formatDateTime(utcnow(), 'yyyy-MM-dd')"
      }
    },
    "variables": {
      "pipeline_run_id": { "type": "String" }
    },
    "folder": { "name": "PhishMe_Security" },
    "annotations": ["PhishMe", "CDC", "Synapse", "ADLS"]
  }
}